.link__url-header {
    display:flex;
    flex-direction: column;
    grid-area: url;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    padding-bottom:0px;
    padding-right:0px;
}
}