.page__content{
    min-width: 320px;
    width: 100%;
    max-width: 1900px;
    min-height: 100vh;
  
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    margin: 0 auto;   
}