.header {
 /*    margin:0 auto;*/
     padding:0;
 
     position: relative;
     display:flex;
    justify-content: space-between;
     flex-direction: row;
     align-items: center;
     flex-shrink: 0;
   
    /* parameters for the header section */
}
 
@media screen and (min-width:321px) and (max-width:720px){
    .header  {
    
  justify-content: start;
     
}
}

@media screen and (max-width: 320px) {
    .header  {
       
     
  }
}