.header__link:hover{
     opacity: 0.8;
}

 .header__link:first-child{
     margin-right:18px;
}
 

@media screen and (min-width:321px) and (max-width:720px){
     .header__link{
      font-size:18px;
      colore:red;
   
 }
 
}
 @media screen and (max-width: 320px) {
     .header__link {
          font-size:12px;
   colore:blue;
   }
 }
 