.ad__kucoinbotton{
    display:flex;
    justify-content: center;
    width:200px;
    height:50px;
    background-color: rgb(109, 241, 109);
    border-radius: 20px;
    border: 2px solid #0dee20;
    transition: background-color 0.5s;
    color:black;
    z-index: 200000;
   
}


.ad__kucoinbotton:hover{
    background-color: #a2d9ce;
    color:red;
 
}