.header__title{
   background-color: gray;
   display: flex;
}
/*MEIZU M10*/

@media screen and (min-width:321px) and (max-width:720px){
    .header__title {
        background-color: white;
        color:blue;
        font-size: 12px;
        width:140px;
        justify-content: center;
        width:100%;
}
}

@media screen and (max-width: 320px) {
    .header__title {
        color:red;
        font-size: 8px;
        width:100px;
        justify-content: center;
  }
}