.header__title{
   
}

@media screen and (min-width:321px) and (max-width:720px){
    .header__title {
        color:green;
        font-size: 12px;
        width:300px;
}
}

@media screen and (max-width: 320px) {
    .header__title {
        color:red;
        font-size: 8px;
        width:200px;
  }
}